<% if current_user && current_user.posts.any? %>
  <div class="container mt-4">
    <div class="row">
      <h3>Meus Posts</h3>
      <% current_user.posts.each do |post| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= post.content %></p>
              <small class="text-muted"><%= post.created_at.strftime("%d/%m/%Y %H:%M") %></small>
              <div class="actions">
                <%= link_to 'Ver', post_path(post), class: 'btn btn-primary' %>
                <%= link_to 'Editar', edit_post_path(post), class: 'btn btn-warning' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>