<%= render 'shared/luizalopes' %>
<%= render 'shared/posts' %>

<% if !current_user %>
  <p class="text-center">Olá, visitante! Aqui você pode ver os posts de outros usuários sobre tecnologias em geral.</p>
  <p class="text-center">Para criar posts, você precisa estar logado.</p>
<% end %>
<%if @posts.any?%>
  <div class="container mt-4">
    <h2>Posts recentes</h2>
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <% post.photos.each do |photo| %>
              <%= image_tag photo, class: 'img-fluid w-25 p-2' %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= post.content %></p>
              <small class="text-muted"><%= post.created_at.strftime("%d/%m/%Y %H:%M") %></small>
            </div>
          </div>
          <div>
            <%= link_to 'Ver', post_path(post), class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<%else%>
  <p class="text-center">Não há posts recentes.</p>
<%end%>

